<div id="edit-page">
  <div id="show-profile">
    <a href="/"><button class="login-button">Back To Main</button></a>
    <h1 id="greeting">Hello <%= @user.name.capitalize%>,</h1>
    <img id="img-profile" src="<%= @user.img%>" alt="">


  </div>


  <div id="desc-section">
    <p id="description"><%= @user.desc.capitalize%></p>

    <div id="profile-section">
      <ul id="edit-profile">
        <a href="/users/<%= @user.id %>/edit"><li>Edit Profile</li></a>
        <a class="apply-btn" href=""><li>Apply to be a Speaker</li></a>
        <% if @user.user_type_id == 1 %>
          <a href="/events"><li>Manage Speakers &amp; Events</li></a>
        <% else %>
          <a href="/tickets"><li>Buy Tickets</li></a>
        <% end %>
      </ul>

      <ul class="speaker-status">
        <% @user.event_speakers.each do |content|%>
          <% if content.application_status == "approved"%>
              </br>
              <li> Your application to be a Speaker on "<%= content.topic%>" has been <span class="topic-speaker"><%= content.application_status%>.</span></li>
              <li>Event: <%= content.event.name%></li>
              <li>Time: <%= content.talk_time%></li>
          <% elsif content.application_status == "rejected" %>
              </br>
              <li> Sorry your application to be a Speaker on "<%= content.topic%>" has been <span class="topic-speaker"><%= content.application_status%></span>.</li>
          <% else %>
              </br>
              <li> Your application to be a Speaker on "<%= content.topic%>" is currently <span class="topic-speaker">pending.</span></li>
          <%end%>
        <%end%>
      </ul>
    </div>



  </div>
</div>


<div id="speaker-form">
  <div class="application-form">
    <i class="fa fa-close fa-2x close-btn" aria-hidden="true"></i>
    <h1 class="form-title">Speaker Application Form</h1>

    <form action="/apply" method="post">
     <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label for=""><strong>Topic :</strong></label>
    <input type="text" name="topic">
    <label for=""><strong>Content :</strong></label>
    <textarea name="desc" rows='20'></textarea>

    <br>
    <button class="sign-in-btn">Submit</button>

    </form>
  </div>
</div>
