<div id="edit-page">
  <a href="/">Back To Main</a>

  <h1 id="greeting">Hello <%= @user.name%>,</h1>

  <div id="show-profile">
    <img id="img-profile" src="<%= @user.img%>" alt="">
  </div>

  <div id="profile-section">
    <ul id="edit-profile">
      <li><a href="/users/<%= @user.id %>/edit">Edit Profile </a></li>
      <li><a class="apply-btn" href="">Apply to be a Speaker</a></li>
      <% if @user.user_type_id == 1 %>
        <li><a href="/events">Manage Speakers &amp; Events</a></li>
      <% else %>
        <li><a href="/tickets">Buy Tickets</a></li>
      <% end %>
    </ul>
  </div>

  <div id="desc-section">
    <p><%= @user.desc%></p>
  </div>
</div>


<div id="speaker-form">
  <div class="application-form">
    <i class="fa fa-close fa-2x close-btn" aria-hidden="true"></i>
    <h1 class="form-title">Speaker Application Form</h1>

    <form action="/apply" method="post">
     <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label for=""><strong>Topic :</strong></label>
    <input type="text" name="topic">
    <label for=""><strong>Content :</strong></label>
    <textarea name="desc" rows='20'></textarea>

    <br>
    <button class="sign-in-btn">Submit</button>

    </form>
  </div>
</div>
