<%= render partial: "addevents" %>
<%= render partial: "editevent" %>

<nav id="navbar">
  <ul id="navmenu">
    <li id="hamburger"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></li>
    <div id="show-menu">
      <div id="icon-list">
          <li><a href="/users"><div class="circle-div"><i class="fa fa-user fa-3x icons" aria-hidden="true"></i><span class ="icon-desc">Profile</span>
          </div></a></li>
          <li><a data-scroll href="#events-section"><div class="circle-div"><i class="fa fa-calendar-o fa-3x icons" aria-hidden="true"></i><span class ="icon-desc">Events</span></div></a></li>
          <li><a data-scroll href="#applications"><div class="circle-div"><i class="fa fa-paper-plane fa-3x icons" aria-hidden="true"></i><span class ="icon-desc">Applications</span></div></a></li>
          <li><a data-scroll href="#event-speakers"><div class="circle-div"><i class="fa fa-microphone fa-3x icons" aria-hidden="true"></i><span class ="icon-desc">Speakers</span></div></a></li>
          <li><a data-scroll href="#tickets"><div class="circle-div"><i class="fa fa-ticket fa-3x icons" aria-hidden="true"></i><span class ="icon-desc">Tickets</span></div></a></li>
          <li><a href="/"><div class="circle-div"><i class="fa fa-home fa-3x icons" aria-hidden="true"></i><span class ="icon-desc">Main Page</span></div></a></li>
        </div>
    </div>

  </ul>
</nav>

<div class="events-application-container">

  <div data-scroll id="tickets">
    <h1 class="admin-title"><i class="fa fa-ticket" aria-hidden="true"></i>&nbsp;Tickets</h1>

    <div class="ticket-status">
      <span>Total Seats Available: <%= @available_seats.size%></span>
      </br>
      <span>Sold Seats: <%= @taken_seats.size %></span>
    </div>
 </div>


  <div data-scroll id="events-section">
      <div class="events-handler-wrap">
      <h1 class="admin-title"><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;Events</h1>
      <button class="add-event-btn"><i class="fa fa-plus" aria-hidden="true"></i>Add Event</button>
      </div>
      <div class="events-handler">
        <% if @events.length != 0 %>
            <table>
              <tr>
                <th class="event-name-td">Event Name</th>
                <th class="event-time-td">Event Time</th>
                <th class="event-action-td">Actions</th>
              </tr>
              <% @events.each do |event| %>
                <tr class="admin-event-list" data-event-id="<%= event.id %>">
                  <td class="event-name-td"><%= event.name %></td>
                  <td class="event-time-td"><%= event.time.to_formatted_s(:long)  %></td>
                  <td>
                    <button class="event-edit-btn"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></button>
                    <button class="event-delete-tbn"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
                  </td>
                </tr>
              <% end %>
            </table>
        <% else %>
          <p class="no-event-msg">There's no event, add event please.</p>
        <% end %>
    </div>
  </div>


    <div data-scroll id="applications">
      <h1 class="admin-title"><i class="fa fa-paper-plane"></i>&nbsp;Pending applications</h1>
         <div class="applying-users-handler">
           <% if @event_speakers.length != 0 %>
             <table class="applying-list">
               <tr class="list-of-titles">
                 <th>Name</th>
                 <th>Topic</th>
                 <th>Content</th>
                 <th>Event</th>
                 <th>Time</th>
                 <th>Actions</th>
               </tr>
               <% @event_speakers.each do | event_speaker | %>
                 <tr class="applying-item" data-event-speaker-id="<%= event_speaker.id%>">
                   <td class="applying-user-name"><%= event_speaker.user.name %></td>
                   <td class="applying-topic"><%= event_speaker.topic %></td>
                   <td  class="applying-content"><%= event_speaker.content%></td>
                   <td  class="applying-event-name"><%= event_speaker.event.name%></td>
                   <td class="talk-time-schedule">
                     <input type="time" class="schedule-time">
                   </td>
                   <td class="applying-actions">
                     <button class="reject-button">Reject</button>
                     <button class="approve-button">Approve</button>
                   </td>
                 </tr>
               <% end %>
             </table>
             <% else %>
             <p class="no-pending-msg">There are currently no pending application.</p>
           <% end %>
         </div>
      </div>

      <div data-scroll id="event-speakers">
        <h1 class="admin-title"><i class="fa fa-microphone" aria-hidden="true"></i>&nbsp;Speakers</h1>
          <% if @speakers == nil || @speakers.length == 0 %>
            <p class="no-speakers">There are currently no speakers.</p>
          <% else %>
            <table class="speakers-list-form">
              <tr>
                <th>Name</th>
                <th>Topic</th>
                <th>Time</th>
                <th>Event</th>
                <th class="event-action-td">Action</th>
              </tr>
              <% @speakers.each do |speaker| %>
                <tr class="speaker-item" data-speaker-id="<%= speaker.id %>">
                  <td><%=speaker.user.name%></td>
                  <td><%=speaker.topic%></td>
                  <td><%=speaker.talk_time.strftime('%H')%>:<%=speaker.talk_time.strftime('%M')%></td>
                  <td><%=speaker.event.name%></td>

                  <td>
                    <button class="speaker-delete-tbn"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
                  </td>
                </tr>
              <% end %>
            </table>
          <% end %>
      </div>

<script id="form-template" type="text/x-handlebars-template">
  <tr class="speaker-item" data-speaker-id="{{speaker_id}}">
    <td>{{speaker_name}}</td>
    <td>{{speaker_topic}}</td>
    <td>{{talk_time_hour}}:{{talk_time_min}}</td>
    <td>{{event_name}}</td>
    <td>
      <button class="speaker-delete-tbn"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
    </td>
  </tr>
</script>

<script id="speaker-template" type="text/x-handlebars-template">
  <table class="speakers-list-form">
      <tr>
        <th>Name</th>
        <th>Topic</th>
        <th>Time</th>
        <th>Event</th>
        <th class="event-action-td">Action</th>
      </tr>
  </table>
</script>
