<div class="events-handler">
  <h1>EVENTS LIST</h1>
  <a class="add-event-btn" href="/events/new"><i class="fa fa-plus" aria-hidden="true"></i>Add Event</a>
  <table>
    <tr>
      <th class="event-name-td">Event Name</th>
      <th class="event-time-td">Event Time</th>
      <th>Actions</th>
    </tr>
    <% @events.each do |event| %>
      <tr class="admin-event-list">
        <td class="event-name-td"><%= event.name %></td>
        <td class="event-time-td"><%= event.time %></td>
        <td>
          <a class="event-edit-btn" href=""><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
          <form action="/events/<%= event.id %>" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
             <input type="hidden" value="delete" name="_method">
             <button class="event-delete-tbn"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
          </form>
        </td>
      <tr>
    <% end %>

  </table>
</div>
<br />
<br />
<div class="applying-users-handler">
  <h1>Pending Applications</h1>
  <ul class="applying-list">
    <% @event_speakers.each do | event_speaker | %>
      <li data-event-speaker-id="<%= event_speaker.id%>">
        <span><%= event_speaker.user.name %>   </span>
        <span><%= event_speaker.topic %>: </span>
        <span><%= event_speaker.content%> </span>
        <span><%= event_speaker.event.name%></span>
        <button class="reject-button">Reject</button>
        <button class="approve-button">Approve</button>
      </li>
    <% end %>
  </ul>
</div>
