<canvas id="schedule-canvas"></canvas>

<h1 class="section-title schedule-title">SCHEDULE</h1>
<div class="timeline">
  <% @talks.each do |talk|%>

    <% if talk.id%2 == 0 %>
      <ul>
        <li>
         <div class="timeline-right">
            <speaker class="speaker-image">
              <img src="<%= talk.user.img %>" alt="">
            </speaker>
            <speaker class="speaker-info">
              <p><strong><%= talk.user.name.upcase %></strong></p>
              <p><%= talk.talk_time.strftime("@ %I:%M %p") %></p>
              <p><%= talk.topic%></p>
            </speaker>
          </div>
        </li>
      </ul>
    <% else %>
      <ul>
        <li>
         <div class="timeline-left">
           <speaker class="speaker-image">
             <img src="<%= talk.user.img %>" alt="">
           </speaker>
           <speaker class="speaker-info">
             <strong><p><%= talk.user.name.upcase %></p></strong>
             <p><%= talk.talk_time.strftime("@ %I:%M %p") %></p>
             <p><%= talk.topic%></p>
           </speaker>
          </div>
        </li>
      </ul>
    <% end %>

  <% end %>
</div>

<script type="text/javascript">
  (function() {

  'use strict';

  // define variables
  var items = $(".timeline li");

  // check if an element is in viewport
  // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
  function isElementInViewport(element) {
    var rect = element.getBoundingClientRect();
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
    }

  function callbackFunc() {
    for (var i = 0; i < items.length; i++) {
      if (isElementInViewport(items[i])) {
        items[i].classList.add("in-view");
      }
    }
  }

  // listen for events
  window.addEventListener("load", callbackFunc);
  window.addEventListener("resize", callbackFunc);
  window.addEventListener("scroll", callbackFunc);

  })();
</script>
