<h1 class="section-title schedule-title">Schedule</h1>
<div class="event-speakers">
     <% @talks.each_with_index do |talk,index| %>
       <hr class="vertical">
       <div class="talk-card">

         <% if index%2==0%>
           <div class='left'>
           </div>
           <div class="middle">
             <img src="<%= talk.user.img%>" alt="">
           </div>
           <div class='right'>
               <p>
                 <strong>( <%= talk.user.name%> )</strong><%=talk.talk_time.to_formatted_s(:long)%><br/>
                 <%= talk.topic%>
               </p>
           </div>
         <%else%>
           <div class='left'>
             <p>
               <strong>( <%= talk.user.name%> )</strong><%=talk.talk_time.to_formatted_s(:long)%><br/>
               <%= talk.topic%>
             </p>
           </div>
           <div class="middle">
             <img src="<%= talk.user.img%>" alt="">
           </div>
           <div class='right'>
           </div>
         <%end%>

       </div>
     <% end %>
</div>


<script type="text/javascript">

   $('.event-speakers').on('click','img',function(){
     $(this).closest('.middle').prev('.left').find('p').css('width','70%');
     $(this).closest('.middle').next('.right').find('p').css('width','70%');
   });

   $('.event-speakers').on('click','p',function(){
     $(this).css('width','0');
   });


</script>
