<section id="main-home">
  <%= render partial: "home"%>
</section>

<section id="about">
  <%= render partial: "about"%>
</section>

<section id="speakers">
  <%= render partial: "speakers"%>
</section>

<section id="schedule">
  <%= render partial: "schedule"%>
</section>

<section id="sponsors">
  <%= render partial: "sponsors"%>
</section>
