<div id="checkout-page">

<a class="back-to-choose-seats"><button class="login-button">Back to seats selection</button></a>

<%= form_tag charges_path do %>

  <input type="hidden" name="tickets_list" value="<%= @seats %>" class="tickets_list">
  <input type="hidden" name="total" value="<%= @total %>" class="total">

  <div class="order-summary">

    <div class="order-title">ORDER SUMMARY</div>

    <table id="order-checkout">
      <% @seats.each do |seat|%>
        <tr>
          <td class="seat-checkout"><%= seat[:seat_num] %></td>
          <td class="type-checkout"><%= seat[:type].upcase %></td>
          <td class="price-checkout"><%= number_to_currency(seat[:price]) %></td>
        </tr>
      <% end %>
    </table>

    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <div class="total-checkout">Total: <%= number_to_currency(@total) %></div>
    </article>

    <div class="pay-now-btn">
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="WDI CONF 2016"
        data-amount="<%= @total*100 %>"
        data-locale="auto">
      </script>
    </div>

  </div>

  <div class="time-left">
    <h4>Time left to complete payment</h4>
    <p id="counter"></p>
  </div>

<% end %>
</div>

<script type="text/javascript">
  var seat_numbers = [];
  var tds = $(".seat-checkout");
  for(var i=0;i<tds.length;i++) {
    seat_numbers.push(tds.eq(i).text());
  }
  var countDown = function(sec) {
    timer = setInterval(function() {
    $('#counter').text(sec-- + " seconds remaining");
    if (sec === -1) {
      $.ajax({
        url: '/api/seats/revert',
        data: {seats_num: seat_numbers},
        method: 'put'
      }).done(function(){
        location.href = document.referrer;
      });
    }
   }, 1000);
  }
  countDown(300);

  $('.back-to-choose-seats').click(function(event){
    $.ajax({
      url: '/api/seats/revert',
      data: {seats_num: seat_numbers},
      method: 'put'
    }).done(function(){
      location.href = document.referrer;
    }).fail(function(){
      location.href = document.referrer;
    });
  });
  // go back button in browser or keyboard
  bajb_backdetect.OnBack = function()
  {
    // session storage to store the seat_numbers
    sessionStorage.setItem('seats_num', seat_numbers);
  }

</script>
